.header-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.user-info {
    font-weight: bold;
    font-size: 1.2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}

.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 0.5rem;
}

.notification-bar {
    display: flex;
    align-items: center;
}

.notification-bar span {
    margin-left: 1rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}