.navPanel {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: #333; /* Optional: Add background color */
    color: white; /* Optional: Text color */
    padding: 0 20px;
}

.allMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 68px; /* Adjusted width */
    height: 50px; /* Adjusted height */
    padding: 10px 12px; /* Adjusted padding */
    border-radius: 4px; /* Adjusted border radius */
    color: white;
    background-color: #868686; /* Optional: Background color */
    border: none;
}
li{
    list-style-type: none;
}
hr{
    width: 100%;
    margin-left: 0;
}
.allMenu:hover {
    border: solid white 1px;
}

.menuIcon {
    font-size: 28px; /* Adjust the size of the menu icon */
}

.menuProfile {
    display: flex;
    align-items: center;
}

.userIcon {
    font-size: 32px; /* Adjust the size of the user icon */
    color: #3300FF;
}

.username {
    margin-left: 10px;
    font-size: 18px;
    color: #3300FF;
}

.menuContainer {
    display: block;
    overflow-y: scroll;
    padding-left: 7px;
    padding-bottom: 30px;
    line-height: 16px;
    text-wrap: nowrap;
    margin-top: 50px;
}

.menuSection {
    list-style: none;
    padding: 0;
}

.heading {
    font-size: 18px;
    font-weight: 700;
    padding: 13px 20px 13px 36px;
    width: 131px;
}

.menuContent {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    padding: 13px 20px 13px 36px;
    font-weight: 400;
}

.menuContent:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}

.offcanvas {
    --bs-offcanvas-width: 350px;
}

.logo img { 
    width: 150px; 
    height: 80px; 
  }
  