.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
  }
  
  .searchInput {
    height: 40px;
    width: 350px;
    padding: 10px 20px;
    border: 0.5px solid #F3F9FB;
    outline: none;
    font-size: 16px;
    background-color: #F3F9FB;
  }
  
  .searchButton {
    border: none;
    height: 40px;
    border-radius: 10px 0 0 10px;
    color: #3300FF;
    background-color: #F3F9FB;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchButton:hover {
    background-color: #e7dcff;
  }
  .listButton{
    border: none;
    height: 40px;
    border-radius: 0 10px 10px 0;
    color: #3300FF;
    background-color: #F3F9FB;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listButton:hover {
    background-color: #e7dcff;
  }