.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 150px;
  }
  
  .searchInput {
    height: 40px;
    width: 400px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
    outline: none;
    font-size: 16px;
  }
  
  .searchButton {
    background-color: #6200ea;
    border: none;
    height: 40px;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchButton:hover {
    background-color: #3700b3;
  }
  